@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

*, header, footer, .div1, .div2, .div3, .div4 {
    font-size: 2rem;
    font-family: 'Orbitron', serif;
    font-weight: 400;
    text-align: center;

}

header, footer {
    font-family: 'Orbitron', serif;
    font-weight: 400;
    text-align: center;
    float: left;
    height: 300px;
    width: 100%; 
    border: 2px solid black;
    background: #3420a3
}

.div1 {
    float: left;
    height: 500px;
    width: 20%;  
    border: 2px solid black;
    background: #d3f31e;
}
.div2 {
    float: left;
    height: 500px;
    width: 40%; 
    border: 2px solid black;
    background: #d17824;
}
.div3{
    float: left;
    height: 500px;
    width: 20%; 
    border: 2px solid black;
    background: #44A1A0;
}
.div4 {
    float: left;
    height: 500px;
    width: 20%; 
    border: 2px solid black;
    background: #2ea300;
}




@media(min-width 320) and (max-width 480px){
    *, header, footer, .div1, .div2, .div3, .div4 {
    height: 250px;
    width: 20%; 
    }
}

@media(min-width 481) and (max-width 768px){
    *, header, footer, .div1, .div2, .div3, .div4 {
    height: 420px;
    width: 20%; 
    }
}